<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/bankmanagement_system</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Admin@123</property>
        
        <!-- c3p0 connection pool settings -->
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>
        
        <!-- Enable Hibernate's automatic session context management -->
        <property name="hibernate.current_session_context_class">thread</property>
        
        <!-- Automatically create or update database schema -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        
        <!-- Dialect for MySQL 8 -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        
        <!-- Echo all executed SQL to stdout -->
        <property name="hibernate.show_sql">false</property>
        
        
        <property name="hibernate.connection.pool_size">10</property>
        
        
        <!-- Mapping of entity classes -->
        <mapping class="com.bms.Register"/>
        <mapping class="com.bms.Login"/>
        <mapping class="com.bms.Account"/>
        <mapping class="com.bms.Transactionn"/>
        <mapping class="com.bms.Admin"/>
        
        
    </session-factory>
</hibernate-configuration>
